<div class="about-container">
  <div class="row white centered">
    <h1 class="centered">WHAT IS FORMAL FRIDAY? </h1>
    <hr/>
    <br/>
    <br/>
    <!-- CODE TOPIC COLUMN-->
    <div class="col col-4 centered">
      <img src="/images/laptop.png" class="img-about" height="120px" width="120px"/>
      <br/>
      <h4 class="padded">
        <b>Code</b>
      </h4>
      <p class="right-pad about">
        Learnings, Teachings, Frustrations &amp Joys of our own Code.
        We share practical snippets of code or soft introductions to code we might be cuttin' for a living.

      </p>
    </div>
    <!-- CRITS TOPIC COLUMN-->
    <div class="col col-4 centered">
      <img src="/images/brain.png" class="img-about" height="120px" width="120px"/>
      <br/>
      <h4 class="padded">
        <b>Critiques &amp Ideas</b>
      </h4>
      <p class="about">
        Friday beers inevitably turn into blue-sky discussions for products, processes, frameworks, startups &amp sandwich fillings. We like connecting dots (especially when there are none), hyperboles and mashups of seemingly unrelated things. 
      </p>
    </div>
    <!-- TECH TOPIC COLUMN-->
    <div class="col col-4 centered">
      <img src="/images/hardware.png" class="img-about" height="120px" width="120px"/>
      <br/>
      <h4 class="padded">
        <b>Technology</b>
      </h4>
      <p class="left-pad about" >We use technology as much as we make it. Hardware or Software. If an OS gets an update, we could talk for hours.</p>
    </div>
  </div>
</div>
