<div class="about-container">
  <br/>
  <div class="row white centered">
    <h1 class="centered">WHO IS FORMAL FRIDAY? </h1>
    <hr/>
    <br/>
    <br/>
    <!-- BRAD AUTHOR COLUMN-->
    <div class="col-4 centered">
      <img src="/images/brad.png" class="img-about img-circle" height="120px" width="120px"/>
      <br/>
      <h4 class="padded">
        <b>Brad</b>
      </h4>
      <b>
        Software Developer @Amazon
        <br>
          <span >
            <a class="icon icon-twitter" href="https://twitter.com/bradley_curran"></a>
          </span>
        </br>
      </b>
      <p class="about right-pad">
        Aussie in Seattle. Technology, Neuroscience, Psychology and vroom-vroom bikes.
      </p>
    </div>
    <!-- MATT AUTHOR COLUMN-->
    <div class="col-4 centered">
      <img src="/images/matt.png" class="img-about img-circle" height="120px" width="120px"/>
      <br/>
      <h4 class="padded">
        <b>Matt</b>
      </h4>
      <b>
        Software Developer @REA
        <br>
          <span >
            <a class="icon icon-twitter" href="https://twitter.com/MattJWitherow"></a>
          </span>
        </br>
      </b>
      <p class="about">
        Mobile Tech, IoT &amp Micro Services Fanboy. Really loves Breakfast food. 
      </p>
    </div>
    <!-- JOHN AUTHOR COLUMN-->
    <div class="col-4 centered">
      <img src="/images/john.png" class="img-about img-circle" height="120px" width="120px"/>
      <br/>
      <h4 class="padded">
        <b>John</b>
      </h4>
      <b>
        iOS Super Developer
        <br>
          <span >
            <a class="icon icon-twitter" href="https://twitter.com/j_hatvani"></a>
          </span>
        </br>
      </b>
      <p class="about right-pad" >
        Passionate iOS developer. Lifelong food aficionado. Koala.</p>
    </div>
  </div>
</div>
